version: 2.1

jobs:
  build:
    docker:
      - image: circleci/node:10

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}-{{ checksum "docs/yarn.lock"}}

      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile

      - run:
          name: Build
          command: yarn build

      - run:
          name: Test
          command: yarn test

      - run:
          name: Lint
          command: yarn lint

      - save_cache:
          paths:
            - /home/circleci/.cache/yarn/v4
          key: v1-dependencies-{{ checksum "yarn.lock" }}-{{ checksum "docs/yarn.lock"}}

  deploy:
    docker:
      - image: circleci/node:10

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}-{{ checksum "docs/yarn.lock"}}

      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile

      - run:
          name: Deploy
          command: ./node_modules/.bin/firebase deploy

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
