/* To help distinguish between devtools and user app styles */
.prodoDevtoolsStyles {
  border: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #333;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
