* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #333;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #00E3A0;
}

a {
  color: var(--primary);
  transition: opacity 150ms ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

input {
  padding: 0.5rem;
  width: 100%;
  border-radius: 4px;
  border: solid 1px lightgrey;
  font-size: 1em;
}

button {
  apperance: none;
  background-color: var(--primary);
  color: white;
  width: 100%;
  margin: 0.25rem 0;
  padding: 0.5rem;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

header {
  padding: 1rem 0;
  background-color: var(--primary);
  font-size: 1.5em;
  font-weight: bold;

  a {
    color: inherit;
    text-decoration: inherit;
  }
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}
