{
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-react",
    ["@babel/preset-env", { "useBuiltIns": "usage" }]
  ],
  "plugins": ["@babel/proposal-class-properties", "@prodo/babel-plugin"],
  "sourceMaps": "both"
}
